xlrd
wordcloud
pyamg
nltk
emoji
textblob
matplotlib<=3.7.4
seaborn>=0.12.2
scikit-learn
statsmodels
xgboost>=0.82,<1.7
fsspec>=0.8.3
typing-extensions>=4.1.1
pandas-dq>=1.29
numpy<1.24
hvplot~=0.7.3
panel~=0.14.4
holoviews~=1.14.9
param==1.13.0
pandas<2.0
