ipython
jupyter
xlrd
wordcloud
pandas
nltk
emoji
textblob
matplotlib>=3.3.3
seaborn>=0.11.1
scikit-learn
statsmodels
holoviews==1.14.6
bokeh==2.4.2
hvplot==0.7.3
panel==0.12.6
xgboost
fsspec==0.8.3
typing-extensions>=4.1.1
