xlrd
wordcloud
pyamg
nltk
emoji
textblob
matplotlib<=3.7.4
seaborn>=0.12.2
scikit-learn
statsmodels
xgboost>=0.82,<1.7
fsspec>=0.8.3
typing-extensions>=4.1.1
pandas-dq>=1.29
numpy>=1.25.0
hvplot>=0.9.2
panel>=1.4.0
holoviews>=1.15.3
pandas<2.0
